/*
  ========================================
	NOTES:

		
  ========================================






			 ___.___
  			  c[_]`=--X 


  		 __                   ___                       
 		|""|  ___    _   __  |"""|  __                  
 		|""| |"""|  |"| |""| |"""| |""| 
 		|""| |"""|  |"| |""| |"""| |""| 
 		|""| |"""|  |"| |""| |"""| |""| 
 		"'''"''"'""'"""''"''''"""'""'""'  
  ========================================
  Background
  ========================================
*/

body {
	background-image: url(../images/background.png)
}


/*
  ========================================
  Elements
  ========================================
*/
.Bg-color {
	background-color: #4aaaa5;
}