/*
  ========================================
	NOTES:

		
  ========================================






			 ___.___
  			  c[_]`=--X 


  		 __                   ___                       
 		|""|  ___    _   __  |"""|  __                  
 		|""| |"""|  |"| |""| |"""| |""| 
 		|""| |"""|  |"| |""| |"""| |""| 
 		|""| |"""|  |"| |""| |"""| |""| 
 		"'''"''"'""'"""''"''''"""'""'""'  
  ========================================
  Background
  ========================================
*/

body {
	background-image: url(../images/background.png)
}


/*
  ========================================
  Elements
  ========================================
*/


.footer-border {
	background-color: grey; 
	border-color:#4aaaa5;
	border-top-width: 5px;
	border-style: solid;
}